body {
    background-color: #333;
}

.container input {
    width:200px;
    height:30px;
    background: transparent;
    border:1px solid white;
    border-radius: 5px;
    padding:5px;
    outline: 0;
}

#Button {
    width:30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    outline:0;
    position: absolute;
    top:14px;
    left:185px;
    cursor:pointer;
}

#message {
    position: absolute;
    color:white;
    font-family: verdana;
    font-size: 10px;
    padding:5px;
    margin:0;
    display: none;
}

::placeholder {
    font-size: 12px;
}